@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.carousel-item,
.carousel-inner {
  width: 100%;
  height: 400px;
}

.carousel-item img {
  height: 500px;
  object-fit: fill;
}

h5 {
  color: black;
}

#carouselExampleSlidesOnly {
  height: 200px;
  overflow: hidden;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.navbar-custom {
  background: linear-gradient(to right, rgb(115, 107, 107), grey);
}

.logo {
  margin-left: 40px;
}

.navbar-nav .nav-link {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  color: whitesmoke;
}
.navbar-nav .nav-link:hover {
  transition: 0.1s;
  transform: scale(1.1);
  border-radius: 10px;
  color: #cc833a;
  background-color: #1c1a1a;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.comuni {
  margin-right: 40px;
}
.comuni a i {
  font-size: 30px;
  color: #25D366;
  padding: 20px;
}
.comuni a i:hover {
  transition: 0.1s;
  transform: scale(1.1);
  border-radius: 10px;
  color: #cc833a;
  background-color: #1c1a1a;
}
.comuni a:nth-child(2) i {
  font-size: 30px;
  color: #E4405F;
}
.comuni a:nth-child(2) i:hover {
  transition: 0.1s;
  transform: scale(1.1);
  border-radius: 10px;
  color: #cc833a;
  background-color: #1c1a1a;
}

/*FOOTER*/
.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.footer-custom {
  margin: 0;
  background-color: rgb(57, 51, 51);
  color: white;
}

.my-4 {
  margin: 0 !important;
}

.text-body-secondary {
  color: whitesmoke !important;
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.titu-1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  background-color: #2D4059;
  color: whitesmoke;
}

.caracte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

.servi-1 {
  background-color: rgba(255, 143, 7, 0.7294117647);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.servi-1 p {
  color: #0b010d;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.servi-1 img {
  width: 150px;
  height: 150px;
}

.difer {
  text-align: center;
  background-color: #323232;
}

.titu2 h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  background: #2D4059;
  color: whitesmoke;
  padding: 10px;
}

p {
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.brochure {
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

.button1 {
  cursor: pointer;
  background-color: #000;
  width: 330px;
  height: 64px;
  padding: 20px 50px;
  line-height: 64px;
  position: relative;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 0;
  background: rgba(255, 77, 41, 0.8588235294);
  margin-left: 20px;
}
.button1 span {
  color: white;
  display: inline-block;
  padding-left: 35px;
  text-transform: uppercase;
  font: bold 18px/66px Arial;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.button1 em {
  position: absolute;
  height: 1px;
  background: #323232;
  width: 47%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  -webkit-transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.button1:before, .button1:after {
  content: "";
  background: white;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button1:before {
  top: 0;
  left: 0;
  right: auto;
}
.button1:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.button1:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.button1:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.button1:hover span {
  color: #000;
}
.button1:hover em {
  background: #000;
  transform: scaleX(0.51);
  transform: scaleX(0.51);
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.somos {
  display: flex;
  flex-direction: column;
}
.somos .titu3 h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  text-align: center;
  color: whitesmoke;
  background-color: #2D4059;
  padding: 10px;
  margin: 0;
}
.somos .somos-1 {
  text-align: center;
  font-size: 20px;
}
.somos .somos-1 p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke #0f0f12;
  background-color: #323232;
  margin: 0;
  padding: 20px;
}

.mi-vi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
}
.mi-vi .mi-vi-1 {
  background-color: rgba(255, 143, 7, 0.7294117647);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.mi-vi .mi-vi-1 p {
  color: #0b010d;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mi-vi .mi-vi-1 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.compromi {
  text-align: center;
  background-color: #323232;
  padding: 0 0 15px;
  display: flex;
  flex-direction: column;
}

.titu4 h2 {
  background: #2D4059;
  color: whitesmoke;
  padding: 10px;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
}

.compro p {
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button2 {
  cursor: pointer;
  background-color: #000;
  width: 330px;
  height: 64px;
  padding: 20px 50px;
  line-height: 64px;
  position: relative;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 0;
  background: rgba(255, 77, 41, 0.8588235294);
  margin-left: 20px;
}
.button2 span {
  color: white;
  display: inline-block;
  padding-left: 35px;
  text-transform: uppercase;
  font: bold 18px/66px Arial;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.button2 em {
  position: absolute;
  height: 1px;
  background: white;
  width: 47%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  -webkit-transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.button2:before, .button2:after {
  content: "";
  background: white;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button2:before {
  top: 0;
  left: 0;
  right: auto;
}
.button2:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.button2:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.button2:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.button2:hover span {
  color: #000;
}
.button2:hover em {
  background: #000;
  transform: scaleX(0.51);
  transform: scaleX(0.51);
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.nuestro {
  display: flex;
  flex-direction: column;
}
.nuestro .titu5 h2 {
  background-color: #2D4059;
  color: whitesmoke;
  padding: 20px;
  margin: 0;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
}
.nuestro .nuestro-1 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: #323232;
}
.nuestro .nuestro-1 p {
  color: whitesmoke;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tipos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

.tipos-1 {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  background-color: rgba(255, 143, 7, 0.7294117647);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.tipos-1 p {
  color: #0b010d;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.tipos-1 img {
  width: 250px;
  display: block;
  margin: auto;
  padding: 5px;
  object-fit: contain;
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.coti {
  position: relative;
  width: 100%;
}
.coti::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo.png);
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(50%);
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: rgb(241, 137, 17);
  margin: auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  filter: brightness(100%);
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.form {
  width: 100%;
}
.form .input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.form .input-field label {
  width: 200px;
  color: rgb(22, 22, 22);
  margin-right: 10px;
  font-size: 20px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form .input-field .input {
  width: 100%;
  outline: none;
  border: 1px solid whitesmoke;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.form .input-field .textarea {
  width: 100%;
  outline: none;
  border: 1px solid whitesmoke;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  resize: none;
  height: 125px;
}
.form .input-field .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}
.form .input-field .custom_select select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
}
.form .input-field .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: whitesmoke transparent transparent transparent;
  pointer-events: none;
}
.form .input-field .input:focus, .form .input-field .textarea:focus, .form .input-field .select:focus {
  border: 1px solid #fec107;
}
.form .input-field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #fec107;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.form .input-field .btn:hover {
  background: #ffd658;
}

.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.aseso .consultas a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgba(255, 77, 41, 0.8588235294);
}
.aseso .consultas a:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: #0f0f12;
  border: solid 2px #0f0f12;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.cartadePro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  min-height: 100vh;
  background: #131313;
  flex-direction: row;
}

.container {
  position: relative;
  margin: 10px 0;
}
.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 143, 7, 0.7294117647);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.container .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
}
.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}
.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}
.container .card:hover .contentBx {
  height: 210px;
}
.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.container .card .contentBx .size h3, .container .card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: white;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}
.container .card .contentBx .size span:hover {
  background: #B90000;
}
.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2) {
  background: #f72500;
}
.container .card .contentBx .color span:nth-child(3) {
  background: #afa29e;
}
.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

@media (max-width: 1000px) {
  .titu-1 {
    text-align: center;
  }
  .caracte {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .servi-1 {
    font-size: 15px;
  }
  .servi-1 img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .difer {
    text-align: center;
  }
  .difer p {
    padding: 5px;
  }
  .aseso h3 {
    font-size: 20px;
  }
  .aseso h3 a {
    margin: 0 10px;
    font-size: 15px;
  }
  .brochure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button1 {
    margin: 30px 0 0 20px;
    align-content: center;
    left: 160px;
  }
  .mi-vi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .mi-vi img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .compromi h2 {
    margin: 5px;
  }
  .button2 {
    right: 10px;
  }
  .tipos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tipos-1 p {
    padding: 20px;
  }
  .tipos-1 p img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  .cartadePro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .cartadePro .container {
    margin: 10px 0 10px 0;
  }
  .cartadePro .container .card {
    margin: 0 0 10px;
    width: auto;
    height: 350px;
  }
}

/*# sourceMappingURL=sytles.css.map */
