@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* forma externa de usar fuentes */
/*navbar*/
.nav-item a {
  color: whitesmoke;
}

.bg-dark {
  color: #0b010d;
}

/*carousel*/
.carousel-item, .carousel-inner {
  width: 100%;
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*caracteristicas*/
.titu-1 {
  text-align: center;
  padding: 5px;
  background-color: #2D4059;
  color: whitesmoke;
}

.caracte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}
.caracte .servi-1 {
  background-color: rgba(182, 198, 219, 0.7607843137);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.caracte .servi-1 p {
  color: #0b010d;
}
.caracte .servi-1 img {
  width: 150px;
  height: 150px;
}

/*DIFERENCIA*/
.difer {
  text-align: center;
  background-color: #b6c6db;
}
.difer .titu2 h2 {
  background: #2D4059;
  color: whitesmoke;
  padding: 10px;
}
.difer p {
  color: #0f0f12;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}
.difer .brochure ul {
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}
.difer .brochure ul li {
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 10px;
  margin: 0 10px;
  background-color: #e1d076;
}
.difer .brochure ul li a {
  text-decoration: none;
  color: #0f0f12;
}

/*ASESORAMINETO*/
.aseso {
  padding: 10px;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  background-color: #b6c6db;
  align-items: center;
  justify-content: center;
}
.aseso a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px #f56e3d;
  border-radius: 10px;
  padding: 10px;
  color: #0f0f12;
  background-color: #e1d076;
}

/*CONFIAN*/
#carouselExampleSlidesOnly {
  height: 200px;
  overflow: hidden;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/*BOTON FLOTANTE*/
.container-boton {
  background-color: #2e6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
  align-items: center;
  position: relative;
  top: 2px;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

/*FOOTER*/
.py-5 {
  padding: 40px;
}

.col-6 h5, a {
  color: whitesmoke;
}

.col-md-5 h5, p {
  color: whitesmoke;
}

.d-flex p {
  color: whitesmoke;
}

/*TRAYECTORIA*/
/*QUIENES SOMOS*/
.somos {
  display: flex;
  flex-direction: column;
}
.somos .titu3 h2 {
  text-align: center;
  color: whitesmoke;
  background-color: #2D4059;
  padding: 10px;
  margin: 0;
}
.somos .somos-1 {
  text-align: center;
  font-size: 20px;
}
.somos .somos-1 p {
  color: #0f0f12;
  background-color: #b6c6db;
  margin: 0;
  padding: 5px;
}

/*MISION-VISION*/
.mi-vi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 10px;
  margin: 10px;
}
.mi-vi .mi-vi-1 {
  background-color: #b6c6db;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.mi-vi .mi-vi-1 p {
  color: #0b010d;
}
.mi-vi .mi-vi-1 img {
  width: 150px;
  height: 150px;
}

/*COMPROMISO*/
.compromi {
  text-align: center;
  background-color: #b6c6db;
  padding: 0 0 15px;
  display: flex;
  flex-direction: column;
}
.compromi .titu4 h2 {
  background: #2D4059;
  color: whitesmoke;
  padding: 10px;
}
.compromi .compro p {
  color: #0f0f12;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}
.compromi .compro a {
  text-decoration: none;
  list-style: none;
  border: solid 2px #0b010d;
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
  color: #191919;
  background-color: #e1d076;
}

/*SERVICIOS*/
/*NUESTROS SERVICIOS*/
.nuestro {
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  flex-direction: column;
}
.nuestro .titu5 h2 {
  background-color: #2D4059;
  color: whitesmoke;
  padding: 20px;
  margin: 0;
  text-align: center;
}
.nuestro .nuestro-1 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: #b6c6db;
}
.nuestro .nuestro-1 p {
  color: #0b010d;
}

/*TIPOS*/
.tipos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}
.tipos .tipos-1 {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  background-color: rgba(182, 198, 219, 0.7607843137);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.tipos .tipos-1 p {
  font-size: 15px;
  color: #0b010d;
}
.tipos .tipos-1 img {
  width: 250px;
  display: block;
  margin: auto;
  padding: 5px;
}

/*COTIZACION*/
.wrapper {
  max-width: 500px;
  width: 100%;
  background: red;
  margin: auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}
.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .form {
  width: 100%;
}
.wrapper .form .input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .form .input-field label {
  width: 200px;
  color: whitesmoke;
  margin-right: 10px;
  font-size: 20px;
}
.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .form .input-field .textarea {
  resize: none;
  height: 125px;
}
.wrapper .form .input-field .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}
.wrapper .form .input-field .custom_select select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d5dbd9;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
}
.wrapper .form .input-field .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}
.wrapper .form .input-field .input:focus,
.wrapper .form .input-field .textarea:focus,
.wrapper .form .input-field .select:focus {
  border: 1px solid #fec107;
}
.wrapper .form .input-field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.wrapper .form .input-field .btn:hover {
  background: #ffd658;
}

/*PRODUCTOS*/
.cartadePro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  min-height: 100vh;
  background: #131313;
  flex-direction: row;
}

.container {
  position: relative;
  margin: 20px;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1BBFE9;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  /*content: "Artd";*/
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover { /* other bug */
  background: #B90000;
}

.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
  background: #1BBFE9;
}

.container .card .contentBx .color span:nth-child(3) {
  background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
  background: #080481;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

@media (max-width: 1000px) {
  /*INDEX*/
  .titu-1 {
    text-align: center;
  }
  .caracte {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .servi-1 {
    font-size: 15px;
  }
  .servi-1 img {
    width: 100px;
    height: 100px;
  }
  .difer {
    text-align: center;
  }
  .difer p {
    padding: 5px;
  }
  .aseso h3 {
    font-size: 20px;
  }
  .aseso a {
    margin: 0 10px;
    font-size: 15px;
  }
  .brochure ul {
    display: flex;
    flex-direction: column;
  }
  .brochure ul li {
    padding: 5px;
    margin: 5px;
  }
  /*TRAYECTORIA*/
  .mi-vi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .mi-vi-1 img {
    width: 100px;
    height: 100px;
  }
  .compromi h2 {
    margin: 5px;
  }
  /*SERVICIOS*/
  .tipos {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .tipos-1 {
    height: 200px;
  }
  .tipos-1 p {
    padding: 20px;
  }
  .tipos-1 img {
    width: 280px;
    height: 200px;
  }
}

/*# sourceMappingURL=sytles.css.map */
